
/* Styling for a class named centeredText */
.centeredText {
    background-image: url("/public/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh; /* Occupe toute la hauteur de la page */
    width: 100%; /* Occupe toute la largeur de la page */
    display: flex; /* Utilise flexbox pour la mise en page */
    flex-direction: column; /* Arrange les éléments en colonne */
    justify-content: center; /* Centre les éléments verticalement */

}

.centeredText h1 {
    font-size: 10em;
}

.centeredText p {
    font-size: 2em;
}
/* Styling for a class named buttons */
.buttons {
    margin: 20px 20px;
     /* Ajoute un marge en haut de 20px */
}

.heroButtons{
    margin: 20px 20px;
}

/* Media query for screens with a maximum width of 960px */
@media screen and (max-width: 960px) {
    .buttons {
        display: none; /* Hide the buttons when the screen width is 960px or less */
    }
}