/* Styling for the .navbar class */
.navbar {
  height: 150px; /* Set the height of the navbar to 150px */
  width: 100%; /* Set the width of the navbar to 100% */
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align content horizontally */
  align-items: center; /* Center align content vertically */
  font-size: 1.2rem; /* Set the font size to 1.2rem */
  position: relative; /* Set the position to relative */
  top: 0; /* Set the top position to 0 */
  z-index: 999; /* Set the z-index to 999 */
}

img{
  border: #fff solid 1px;
  border-radius: 5px;
}

/* Styling for the .navbar-container class */
.navbar-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center align content horizontally */
  align-items: center; /* Center align content vertically */
  height: 80px; /* Set the height of the navbar container to 80px */
  max-width: 1500px; /* Set the maximum width of the navbar container to 1500px */
}

/* Styling for the .fa-typo3 class */
.fa-typo3 {
  margin-left: 0.5rem; /* Set the left margin to 0.5rem */
  font-size: 1.8rem; /* Set the font size to 1.8rem */
}

/* Styling for the .nav-menu class */
.nav-menu {
  display: grid; /* Use CSS grid for layout */
  grid-template-columns: repeat(4, auto); /* Create a grid with 4 columns */
  grid-gap: 10px; /* Set the gap between grid items to 10px */
  list-style: none; /* Remove the default list style */
  text-align: center; /* Center align text */
  width: 60vw; /* Set the width to 60% of the viewport width */
  justify-content: end; /* Align content to the end */
}

/* Styling for the .nav-item class */
.nav-item {
  height: 80px; /* Set the height of the nav item to 80px */
}

/* Styling for the .nav-links class */
.nav-links {
  color: #fff; /* Set the text color to white */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center align content vertically */
  text-decoration: none; /* Remove text decoration */
  padding: 0.5rem 1rem; /* Set the padding */
  height: 100%; /* Set the height to 100% */
}

/* Styling for hover effect on .nav-links */
.nav-links:hover {
  border-bottom: 4px solid #fff; /* Add a bottom border with white color on hover */
  transition: all 0.2s ease-out; /* Add a smooth transition effect */
}

/* Styling for the .fa-bars class */
.fa-bars {
  color: #fff; /* Set the text color to white */
}

/* Styling for the .nav-links-mobile class */
.nav-links-mobile {
  display: none; /* Hide the element by default */
}

/* Styling for the .menu-icon class */
.menu-icon {
  display: none; /* Hide the element by default */
}

/* Media query for screens with a maximum width of 960px */
@media screen and (max-width: 960px) {
  .NavbarItems {
      position: relative; /* Set the position to relative */
  }

  .nav-menu {
      display: flex; /* Use flexbox for layout */
      flex-direction: column; /* Arrange items in a column */
      width: 100%; /* Set the width to 100% */
      position: absolute; /* Set the position to absolute */
      top: 150px; /* Set the top position to 150px */
      left: -100%; /* Move the menu out of the viewport */
      opacity: 1; /* Set the initial opacity to 1 */
      transition: all 0.5s ease; /* Add a transition effect */
  }

  .nav-menu.active {
      padding: 1rem 0rem; /* Set padding when active */
      background: #242222; /* Set the background color to #242222 when active */
      left: 0; /* Move the menu to the left edge */
      opacity: 1; /* Set the opacity to 1 */
      transition: all 0.5s ease; /* Add a transition effect */
      z-index: 1; /* Set the z-index to 1 */
  }

  .nav-links {
      text-align: center; /* Center align text */
      height: 30px; /* Set the height to 30px */
      padding: 0; /* Reset padding */
      width: 100%; /* Set the width to 100% */
      display: table; /* Use table layout */
  }

  .nav-links:hover {
      color: white; /* Set the text color to white on hover */
      border-bottom: 1px solid #fff; /* Add a bottom border with white color on hover */
      transition: all 0.2s ease-out; /* Add a smooth transition effect */
  }

  .navbar-logo {
      position: absolute; /* Set the position to absolute */
      top: 0; /* Set the top position to 0 */
      left: 0; /* Set the left position to 0 */
      transform: translate(25%, 50%); /* Move and transform the logo */
  }

  .menu-icon {
      display: block; /* Display the menu icon */
      position: absolute; /* Set the position to absolute */
      top: 0; /* Set the top position to 0 */
      right: 0; /* Set the right position to 0 */
      transform: translate(-100%, 60%); /* Move and transform the menu icon */
      font-size: 1.8rem; /* Set the font size to 1.8rem */
      cursor: pointer; /* Set the cursor to a pointer */
  }

  .fa-times {
      color: #fff; /* Set the text color to white */
      font-size: 2rem; /* Set the font size to 2rem */
  }

  .nav-links-mobile {
      display: block; /* Display the mobile nav links */
      text-align: center; /* Center align text */
      margin: 2rem auto; /* Set the margin */
      border-radius: 4px; /* Set the border radius */
      width: 80%; /* Set the width to 80% */
      text-decoration: none; /* Remove text decoration */
      font-size: 1.5rem; /* Set the font size to 1.5rem */
      background-color: transparent; /* Set the background color to transparent */
      color: #fff; /* Set the text color to white */
      padding: 14px 20px; /* Set the padding */
      border: 1px solid #fff; /* Set the border */
      transition: all 0.3s ease-out; /* Add a transition effect */
  }

  .nav-links-mobile:hover {
      background: #fff; /* Set the background color to white on hover */
      color: #242424; /* Set the text color to dark */
      transition: 250ms; /* Add a smooth transition effect */
  }
}